@main-color: #404c4a;
@secondary-color: #707070;
@white: #ffffff;

.profile-container {
    display: flexbox;
    flex-direction: column;
    align-self: center;
    margin-top: 50px;
    margin-right: 120px;
}

.profile-pic img{
    border-radius: 50%;
    margin-left: 65px
}

.form-node-container {
    display: flex;
    height: 4rem;
    align-items: flex-end;
}

.name {
    flex: 0 0 130px;
    text-align: right;
    padding-right: 10px;
}
.value {
    flex: 1;
    text-align: left;
}